In [1]:
import numpy as np
import pandas as pd

# Preparing the Boston Housing data
Remove header and convert to CSV... or download from [here](https://github.com/selva86/datasets/blob/master/BostonHousing.csv)

## Description
 The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
 prices and the demand for clean air', J. Environ. Economics & Management,
 vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
 ...', Wiley, 1980.   N.B. Various transformations are used in the table on
 pages 244-261 of the latter.


## Features
Variables in order:
- CRIM:     per capita crime rate by town
- ZN:       proportion of residential land zoned for lots over 25,000 sq.ft.
- INDUS:    proportion of non-retail business acres per town
- CHAS:     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
- NOX:      nitric oxides concentration (parts per 10 million)
- RM:       average number of rooms per dwelling
- AGE:      proportion of owner-occupied units built prior to 1940
- DIS:      weighted distances to five Boston employment centres
- RAD:      index of accessibility to radial highways
- TAX:      full-value property-tax rate per \$10,000
- PTRATIO:  pupil-teacher ratio by town
- B:        $1000(Bk - 0.63)^2$ where Bk is the proportion of blacks by town
- LSTAT:    % lower status of the population
- MEDV:     Median value of owner-occupied homes in $1000's

In [4]:
# opening and reading the boston housing data
data = pd.read_csv("./boston.csv")
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [15]:
# pandas: useful for manipulating data with named columns
data.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [36]:
# select a particular column
display(data["indus"].head())  # returns a Series object
display(data[["indus"]].head())# returns a DataFrame object

# and multiple columns
data[["indus", "chas"]].head()

0    2.31
1    7.07
2    7.07
3    2.18
4    2.18
Name: indus, dtype: float64

   indus
0   2.31
1   7.07
2   7.07
3   2.18
4   2.18

   indus  chas
0   2.31     0
1   7.07     0
2   7.07     0
3   2.18     0
4   2.18     0

In [27]:
# selection by integer position
display(data[5:10])
# this doesn't work: data[5:10, 2:5]

data.iloc[5:10, 2:5]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9

   indus  chas    nox
5   2.18     0  0.458
6   7.87     0  0.524
7   7.87     0  0.524
8   7.87     0  0.524
9   7.87     0  0.524

In [28]:
# selection by label; note that this uses the index LABELS (not integer value)
display(data.index)
data.loc[40:43, ["crim", "zn"]]

RangeIndex(start=0, stop=506, step=1)

       crim    zn
40  0.03359  75.0
41  0.12744   0.0
42  0.14150   0.0
43  0.15936   0.0

In [37]:
# indexing via boolean masks
display(df.columns != "medv")

# select all feature columns
features = data.loc[:, df.columns != "medv"]
display(features.head())

# housing values
prices = data[["medv"]]
display(prices.head())

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False])

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [40]:
# converting dataframes/series to numpy arrays
x = features.values
y = prices.values
display(x)
display(y)

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

array([[24. ],
       [21.6],
       [34.7],
       [33.4],
       [36.2],
       [28.7],
       [22.9],
       [27.1],
       [16.5],
       [18.9],
       [15. ],
       [18.9],
       [21.7],
       [20.4],
       [18.2],
       [19.9],
       [23.1],
       [17.5],
       [20.2],
       [18.2],
       [13.6],
       [19.6],
       [15.2],
       [14.5],
       [15.6],
       [13.9],
       [16.6],
       [14.8],
       [18.4],
       [21. ],
       [12.7],
       [14.5],
       [13.2],
       [13.1],
       [13.5],
       [18.9],
       [20. ],
       [21. ],
       [24.7],
       [30.8],
       [34.9],
       [26.6],
       [25.3],
       [24.7],
       [21.2],
       [19.3],
       [20. ],
       [16.6],
       [14.4],
       [19.4],
       [19.7],
       [20.5],
       [25. ],
       [23.4],
       [18.9],
       [35.4],
       [24.7],
       [31.6],
       [23.3],
       [19.6],
       [18.7],
       [16. ],
       [22.2],
       [25. ],
       [33. ],
       [23.5],
       [19.4],
       [22. ],
       [17.4],
       [20.9],
       [24.2],
       [21.7],
       [22.8],
       [23.4],
       [24.1],
       [21.4],
       [20. ],
       [20.8],
       [21.2],
       [20.3],
       [28. ],
       [23.9],
       [24.8],
       [22.9],
       [23.9],
       [26.6],
       [22.5],
       [22.2],
       [23.6],
       [28.7],
       [22.6],
       [22. ],
       [22.9],
       [25. ],
       [20.6],
       [28.4],
       [21.4],
       [38.7],
       [43.8],
       [33.2],
       [27.5],
       [26.5],
       [18.6],
       [19.3],
       [20.1],
       [19.5],
       [19.5],
       [20.4],
       [19.8],
       [19.4],
       [21.7],
       [22.8],
       [18.8],
       [18.7],
       [18.5],
       [18.3],
       [21.2],
       [19.2],
       [20.4],
       [19.3],
       [22. ],
       [20.3],
       [20.5],
       [17.3],
       [18.8],
       [21.4],
       [15.7],
       [16.2],
       [18. ],
       [14.3],
       [19.2],
       [19.6],
       [23. ],
       [18.4],
       [15.6],
       [18.1],
       [17.4],
       [17.1],
       [13.3],
       [17.8],
       [14. ],
       [14.4],
       [13.4],
       [15.6],
       [11.8],
       [13.8],
       [15.6],
       [14.6],
       [17.8],
       [15.4],
       [21.5],
       [19.6],
       [15.3],
       [19.4],
       [17. ],
       [15.6],
       [13.1],
       [41.3],
       [24.3],
       [23.3],
       [27. ],
       [50. ],
       [50. ],
       [50. ],
       [22.7],
       [25. ],
       [50. ],
       [23.8],
       [23.8],
       [22.3],
       [17.4],
       [19.1],
       [23.1],
       [23.6],
       [22.6],
       [29.4],
       [23.2],
       [24.6],
       [29.9],
       [37.2],
       [39.8],
       [36.2],
       [37.9],
       [32.5],
       [26.4],
       [29.6],
       [50. ],
       [32. ],
       [29.8],
       [34.9],
       [37. ],
       [30.5],
       [36.4],
       [31.1],
       [29.1],
       [50. ],
       [33.3],
       [30.3],
       [34.6],
       [34.9],
       [32.9],
       [24.1],
       [42.3],
       [48.5],
       [50. ],
       [22.6],
       [24.4],
       [22.5],
       [24.4],
       [20. ],
       [21.7],
       [19.3],
       [22.4],
       [28.1],
       [23.7],
       [25. ],
       [23.3],
       [28.7],
       [21.5],
       [23. ],
       [26.7],
       [21.7],
       [27.5],
       [30.1],
       [44.8],
       [50. ],
       [37.6],
       [31.6],
       [46.7],
       [31.5],
       [24.3],
       [31.7],
       [41.7],
       [48.3],
       [29. ],
       [24. ],
       [25.1],
       [31.5],
       [23.7],
       [23.3],
       [22. ],
       [20.1],
       [22.2],
       [23.7],
       [17.6],
       [18.5],
       [24.3],
       [20.5],
       [24.5],
       [26.2],
       [24.4],
       [24.8],
       [29.6],
       [42.8],
       [21.9],
       [20.9],
       [44. ],
       [50. ],
       [36. ],
       [30.1],
       [33.8],
       [43.1],
       [48.8],
       [31. ],
       [36.5],
       [22.8],
       [30.7],
       [50. ],
       [43.5],
       [20.7],
       [21.1],
       [25.2],
       [24.4],
       [35.2],
       [32.4],
       [32. ],
       [33.2],
       [33.1],
       [29.1],
       [35.1],
       [45.4],
       [35.4],
       [46. ],
       [50. ],
       [32.2],
       [22. ],
       [20.1],
       [23.2],
       [22.3],
       [24.8],
       [28.5],
       [37.3],
       [27.9],
       [23.9],
       [21.7],
       [28.6],
       [27.1],
       [20.3],
       [22.5],
       [29. ],
       [24.8],
       [22. ],
       [26.4],
       [33.1],
       [36.1],
       [28.4],
       [33.4],
       [28.2],
       [22.8],
       [20.3],
       [16.1],
       [22.1],
       [19.4],
       [21.6],
       [23.8],
       [16.2],
       [17.8],
       [19.8],
       [23.1],
       [21. ],
       [23.8],
       [23.1],
       [20.4],
       [18.5],
       [25. ],
       [24.6],
       [23. ],
       [22.2],
       [19.3],
       [22.6],
       [19.8],
       [17.1],
       [19.4],
       [22.2],
       [20.7],
       [21.1],
       [19.5],
       [18.5],
       [20.6],
       [19. ],
       [18.7],
       [32.7],
       [16.5],
       [23.9],
       [31.2],
       [17.5],
       [17.2],
       [23.1],
       [24.5],
       [26.6],
       [22.9],
       [24.1],
       [18.6],
       [30.1],
       [18.2],
       [20.6],
       [17.8],
       [21.7],
       [22.7],
       [22.6],
       [25. ],
       [19.9],
       [20.8],
       [16.8],
       [21.9],
       [27.5],
       [21.9],
       [23.1],
       [50. ],
       [50. ],
       [50. ],
       [50. ],
       [50. ],
       [13.8],
       [13.8],
       [15. ],
       [13.9],
       [13.3],
       [13.1],
       [10.2],
       [10.4],
       [10.9],
       [11.3],
       [12.3],
       [ 8.8],
       [ 7.2],
       [10.5],
       [ 7.4],
       [10.2],
       [11.5],
       [15.1],
       [23.2],
       [ 9.7],
       [13.8],
       [12.7],
       [13.1],
       [12.5],
       [ 8.5],
       [ 5. ],
       [ 6.3],
       [ 5.6],
       [ 7.2],
       [12.1],
       [ 8.3],
       [ 8.5],
       [ 5. ],
       [11.9],
       [27.9],
       [17.2],
       [27.5],
       [15. ],
       [17.2],
       [17.9],
       [16.3],
       [ 7. ],
       [ 7.2],
       [ 7.5],
       [10.4],
       [ 8.8],
       [ 8.4],
       [16.7],
       [14.2],
       [20.8],
       [13.4],
       [11.7],
       [ 8.3],
       [10.2],
       [10.9],
       [11. ],
       [ 9.5],
       [14.5],
       [14.1],
       [16.1],
       [14.3],
       [11.7],
       [13.4],
       [ 9.6],
       [ 8.7],
       [ 8.4],
       [12.8],
       [10.5],
       [17.1],
       [18.4],
       [15.4],
       [10.8],
       [11.8],
       [14.9],
       [12.6],
       [14.1],
       [13. ],
       [13.4],
       [15.2],
       [16.1],
       [17.8],
       [14.9],
       [14.1],
       [12.7],
       [13.5],
       [14.9],
       [20. ],
       [16.4],
       [17.7],
       [19.5],
       [20.2],
       [21.4],
       [19.9],
       [19. ],
       [19.1],
       [19.1],
       [20.1],
       [19.9],
       [19.6],
       [23.2],
       [29.8],
       [13.8],
       [13.3],
       [16.7],
       [12. ],
       [14.6],
       [21.4],
       [23. ],
       [23.7],
       [25. ],
       [21.8],
       [20.6],
       [21.2],
       [19.1],
       [20.6],
       [15.2],
       [ 7. ],
       [ 8.1],
       [13.6],
       [20.1],
       [21.8],
       [24.5],
       [23.1],
       [19.7],
       [18.3],
       [21.2],
       [17.5],
       [16.8],
       [22.4],
       [20.6],
       [23.9],
       [22. ],
       [11.9]])

# numpy indexing

In [ ]:
# simple indexing

In [42]:
# example: creating 1-hot arrays

# say you have an array of integers, representing what category a sample belongs to
labels = np.random.randint(0, 6, size=(10,))
display(labels)

array([1, 3, 4, 5, 5, 2, 2, 4, 2, 2])

In [46]:
# you want to convert this to a matrix with shape (num_samples, num_categories)
#     where the values are all 0 except for a 1 indicating which category a 
#     sample belongs to.

def onehot(indices, num_categories=None):
    """
    Convert an array of indices of shape (num_samples,) to
    (num_samples, num_categories) where each row contains a single
    non-zero entry.
    
    If `num_categories` is not specified, the maximum value in
    `indices` will be used.
    """
    
    if num_categories is None:
        num_categories = max(indices)+1
        
    a = np.zeros((indices.size, num_categories))
    a[np.arange(indices.size), indices] = 1.
    
    return a

display(onehot(labels))

array([[0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.]])

In [48]:
# one difference between indexing with arrays and indexing with ranges
a = np.eye(8)
display(a)

array([[1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.]])

In [53]:
display(a[0:3, 0:3]) 
display(a[[0, 1, 2], [0, 1, 2]]) 
# with assignments
a[0:3, 0:3] = 5.
a[[0,1,2], [0,1,2]] = 10.
display(a)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

array([1., 1., 1.])

array([[10.,  5.,  5.,  0.,  0.,  0.,  0.,  0.],
       [ 5., 10.,  5.,  0.,  0.,  0.,  0.,  0.],
       [ 5.,  5., 10.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.]])

In [61]:
# pulling random mini-batches from an array of samples
a = np.eye(10)

# 1. shuffle rows in-place; modifies original array
np.random.shuffle(a)
display(a[0:4, :])

array([[0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.]])

In [62]:
a = np.eye(10)

# 2. index via a permutation; doesn't modify original
perm = np.random.permutation(10)
display(perm)
display(a[perm[0:4], :])
display(a)

array([9, 3, 4, 2, 0, 8, 1, 7, 6, 5])

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.]])

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])